## Tipos de datos

In [10]:
# Importar librerías
import pandas as pd
import numpy as np

In [1]:
edad= 25

In [2]:
type(edad)

int

In [3]:
altura = 1.75
type(altura)

float

In [4]:
nombre="Juan"
type(nombre)

str

### Tipos de daos estructurados

In [5]:
# Tipos de datos estructurados:
# - Listas: Colección ordenada y modificable
# - Tuplas: Colección ordenada e inmutable
# - Diccionarios: Colección desordenada de pares clave-valor

In [6]:
nombres=["Juan", "Ana", "Carlos"]
nombres[0]

'Juan'

In [7]:
coordenadas = (10,20)
type(coordenadas)

tuple

In [8]:
persona = {"nombre":"ana", "edad":31}
type(persona)

dict

### Crear un dataframe a partir de una lista de diccionario

In [11]:
# Lista de diccioarios con datos de personas:
datos_personas = [
    {"nombre":"ana", "edad":31, "Ciudad": "A"},
    {"nombre":"deb", "edad":35, "Ciudad": "b"},
    {"nombre":"daph", "edad":15, "Ciudad": "C"}
]

# Crear un dataframe a partir de la lista de diccionarios
df_personas = pd.DataFrame(datos_personas)

# Mostrar el dataframe
df_personas

  nombre  edad Ciudad
0    ana    31      A
1    deb    35      b
2   daph    15      C

### Tipos de datos booleanos

In [12]:
ejemplo_booleano = True
type(ejemplo_booleano)

bool

### Librería NumPy para datos numéricos

In [14]:
# Librería NumPy:
# - Realizar cálculos mastemáticos

edades = np.array([2,3,5,4])
media = np.mean(edades)
print(media)

3.5

### EJERCICIOS PRÁCTICOS

In [16]:
# EJERCICIO 1 
## Manipular una lista de nombres, agregar o eliminar elementos

# Lista de nombres inicial
nombres = ["Dania", "Claudia", "Alberto"]

# Agregar un nuevo nombre
nombres.append("Dasiel")

print(nombres)

# Eliminar el segundo nombre de la lista
nombres.pop(1)

print(nombres)

['Dania', 'Claudia', 'Alberto', 'Dasiel']
['Dania', 'Alberto', 'Dasiel']

In [18]:
# EJERCICIO 2
## Utilizar un diccionario para representar información de un estudiante

# Datos del estudiante en un diciconario
estudiante = {
    "nombre": "Dania",
    "edad": 31,
    "promedio": 8.5
}

print(estudiante["nombre"])

Dania